.btn {
    /* 文字颜色 */
    color: #0099cc;
    /* 清除背景色 */
    background: transparent;
    /* 边框样式、颜色、宽度 */
    border: 2px solid #0072E3;
    /* 给边框添加圆角 */
    border-radius: 6px;
    /* 字母转大写 */
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    background-color: white;
    color: black;
    border: 2px solid #0072E3;
}
    /* 悬停样式 */
    .btn:hover {
        background-image: linear-gradient(to bottom right, #008CBA, #D1E9E9);
        color: white;
    }
