@page "/Index_front"
@model IndexModel_front
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout_front.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />

    <style>
        #test1 {
            background: linear-gradient(to bottom right, #3C3C3C,#3C3C3C);
            box-shadow: 0px 0px 25px gray;
            /*;background:#060144;*/
            /*background:#3c3c3c;*/
        }

        #collection {
            background: linear-gradient(to bottom right, #3C3C3C,#3C3C3C);
        }

        body {
            background-image: url("/images/profile.png");
        }

        h4 {
            color: white;
        }

        label {
            color: white
        }

        .label {
            cursor: pointer;
        }

        label.cabinet {
            display: block;
            cursor: pointer;
        }

            label.cabinet input.file {
                position: relative;
                height: 100%;
                width: auto;
                opacity: 0;
                -moz-opacity: 0;
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                margin-top: -30px;
            }

        #upload-demo {
            width: 250px;
            height: 250px;
            padding-bottom: 25px;
        }

    </style>
}

<div id="test1" class="container rounded bg-white mt-5 mb-5">  
    <form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">   
        <div class="col-md-3 border-right " style="padding-left:10%">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5" style="padding-left:10%">
                <div class="form-group">
                    <div class="col-xs-12">
                        <label asp-for="Input.Picture" class="cabinet center-block"></label>
                        <div class="circle-container center-block">
                            <partial name="_ShowPhotoPartial" class="circle-container center-block " />
                            <input type="file" class="item-img file center-block" name="file_photo" id="file1" accept="image/*" />
                                <input type="hidden" id="croppedImage" name="croppedImage" />
                        </div>
                    </div>
                    
                </div>
                <label class="font-weight-bold" asp-for="Username">@User.Identity.Name</label><label class="labels" asp-for="Input.Email">@Model.Input.Email</label>
                <div id="collection" class="justify-content-between align-items-center" style="margin-top:70px;width:100%;height:250px;">
                    <div class="justify-content-between align-items-center" style="padding-top:22%">
                        <h4 class="text-right">個人資料</h4>
                        <h4 class="text-right" style="padding-top:8%">我的收藏</h4>
                        <h4 class="text-right" style="padding-top:8%">歷史訂單</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 border-right" style="padding-left:10%">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">個人資料</h4>
                </div>

                <div class="row mt-3">
                    
                        <div class="col-md-12">
                            <label class="labels">姓名</label>
                            <input asp-for="Input.Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">手機號碼</label>
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">電子信箱</label>
                            <div class="col-md-12" style="
        height: 30px;
        background: #FaFaFa 0% 0% no-repeat padding-box;
        border: 1px solid #989898;
        border-radius: 2px;
        padding: 0px;
        display: flex;
        align-items: center;
    ">
                                <input asp-for="Input.Email" style="
            border: none;
            outline: none;
            background: #FaFaFa 0% 0%  padding-box;
            margin: 0px 0px 0px 10px;
            padding: 0px;
            width: 200px;
        " disabled />
                                <a asp-page="./Email_front" style="padding-left:15%"> <i class="fa-solid fa-pencil" style="padding-left:550%"></i></a>


                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">地址</label>
                            <input asp-for="Input.Address" class="form-control" />
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">舊密碼</label>
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">新密碼</label>
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">確認新密碼</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mt-5 text-center"><button class="btn profile-button" type="submit" style="background-color:#d70934;color:white">儲存修改</button></div>
                        <partial name="_StatusMessage_front" for="StatusMessage" />
                    </form>
                    </div>
                    </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <partial name="_ValidationScriptsPartial" />
    <script>

        $("#file1").change(function () {
            readURL(this, $("#file1").prev());
        });

    </script>
}
