USE [ComperWebSite]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADvertises]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADvertises](
	[ADId] [int] IDENTITY(1,1) NOT NULL,
	[ADtitle] [nvarchar](max) NOT NULL,
	[ADContent] [nvarchar](max) NOT NULL,
	[ADStart] [datetime] NOT NULL,
	[ADEnd] [datetime] NOT NULL,
	[ADPicture] [nvarchar](max) NOT NULL,
	[Employee] [nvarchar](50) NULL,
	[ADviews] [int] NULL,
 CONSTRAINT [PK_AD] PRIMARY KEY CLUSTERED 
(
	[ADId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[AddDate] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Birth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Picture] [image] NULL,
	[Point] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseSpecification]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseSpecification](
	[ProductsId] [nvarchar](50) NOT NULL,
	[compact] [nvarchar](50) NULL,
	[GPULimit_mm] [int] NULL,
 CONSTRAINT [PK_CaseSpecification] PRIMARY KEY CLUSTERED 
(
	[ProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComputerModel]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerModel](
	[ProductsID] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](100) NULL,
 CONSTRAINT [PK_ComputerModel] PRIMARY KEY CLUSTERED 
(
	[ProductsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPUSpecifications]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPUSpecifications](
	[ProductId] [nvarchar](50) NOT NULL,
	[pins] [nvarchar](50) NULL,
	[power] [int] NULL,
	[Base_Frequency] [float] NULL,
	[Max_Frequency] [float] NULL,
	[Total_Cores] [int] NULL,
	[Total_Threads] [int] NULL,
 CONSTRAINT [PK_CPUSpecifications] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[C_Phone] [nvarchar](100) NOT NULL,
	[C_Account] [nvarchar](100) NOT NULL,
	[C_Email] [nvarchar](100) NOT NULL,
	[C_PassWord] [nvarchar](100) NOT NULL,
	[C_Birth] [datetime] NULL,
	[C_AddDate] [datetime] NOT NULL,
	[C_Address] [nvarchar](100) NOT NULL,
	[C_Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Employee_Phone] [nvarchar](50) NOT NULL,
	[Employee_Email] [nvarchar](50) NULL,
	[Employee_PassWord] [nvarchar](50) NOT NULL,
	[Employee_Birth] [datetime] NULL,
	[Employee_HireDate] [datetime] NOT NULL,
	[Employee_Address] [nvarchar](100) NULL,
	[Employee_Notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteList]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteList](
	[CustomerId] [nvarchar](50) NOT NULL,
	[ProductId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FavoriteList] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[FunctionID] [int] NOT NULL,
	[FunctionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Functions] PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GpuComparisonSystem]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GpuComparisonSystem](
	[ProductsID] [nvarchar](50) NOT NULL,
	[_4K_mark] [nvarchar](100) NULL,
	[FHD_mark] [nvarchar](100) NULL,
	[BASE_mark] [nvarchar](100) NULL,
	[FFXIV_mark] [nvarchar](100) NULL,
	[Temperature] [nvarchar](100) NULL,
	[Price] [nvarchar](100) NULL,
	[Running_date] [date] NULL,
	[img] [nvarchar](100) NULL,
 CONSTRAINT [PK_GpuComparisonSystem] PRIMARY KEY CLUSTERED 
(
	[ProductsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPUSpecification]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPUSpecification](
	[ProductId] [nvarchar](50) NOT NULL,
	[GPU_Length] [float] NULL,
	[power] [int] NULL,
 CONSTRAINT [PK_GPUSpecification] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemorySpecification]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemorySpecification](
	[ProductId] [nvarchar](50) NOT NULL,
	[DDR_MEMORY] [nvarchar](50) NULL,
	[MEMORY_GB] [int] NULL,
 CONSTRAINT [PK_MemorySpecification] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotherBoardsSpecification]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotherBoardsSpecification](
	[ProductId] [nvarchar](50) NOT NULL,
	[pins] [nvarchar](50) NULL,
	[MEMORY_GB] [int] NULL,
	[DDR_MEMORY] [nvarchar](50) NULL,
	[FACTOR] [nvarchar](50) NULL,
	[power] [int] NULL,
 CONSTRAINT [PK_MotherBoardsSpecification] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductQty] [int] NOT NULL,
	[ProductUnitPrice] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [nvarchar](50) NOT NULL,
	[CustomerID] [nvarchar](50) NOT NULL,
	[EmployeeID] [nvarchar](50) NOT NULL,
	[OrderOnDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[OrderStatus] [nvarchar](50) NOT NULL,
	[ShipAddress] [nvarchar](max) NOT NULL,
	[ShippingMethod] [nvarchar](50) NOT NULL,
	[AcceptEmail] [nvarchar](50) NOT NULL,
	[AcceptName] [nvarchar](50) NOT NULL,
	[AcceptNumber] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionFunction]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionFunction](
	[PermissionID] [int] NOT NULL,
	[FountionID] [int] NOT NULL,
 CONSTRAINT [PK_PermissionFunction] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC,
	[FountionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerSpecification]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerSpecification](
	[ProductId] [nvarchar](50) NOT NULL,
	[power] [int] NULL,
	[_80PLUS] [nvarchar](50) NULL,
	[compact] [nvarchar](50) NULL,
 CONSTRAINT [PK_PowerSpecification] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductUnitPrice] [int] NOT NULL,
	[ProductQty] [int] NOT NULL,
	[ProductCategory] [nvarchar](50) NOT NULL,
	[ProductSupplierID] [nvarchar](50) NOT NULL,
	[ProductStatus] [nvarchar](50) NOT NULL,
	[ProductOnDate] [datetime] NOT NULL,
	[ProductOffDate] [datetime] NOT NULL,
	[ProductPic] [nvarchar](50) NULL,
	[ProductNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[PurchaseID] [nvarchar](50) NOT NULL,
	[PurchaseDate] [date] NOT NULL,
	[EmployeeID] [nvarchar](50) NOT NULL,
	[SupplierID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetail]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetail](
	[PurchaseID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductQty] [nvarchar](50) NOT NULL,
	[ProductUnitPrice] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PurchaseDetail] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[CustomerId] [nvarchar](50) NOT NULL,
	[ProductId] [nvarchar](50) NOT NULL,
	[ProductQty] [int] NOT NULL,
	[ProductUnitPrice] [int] NOT NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Bank] [nvarchar](50) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Uniform_numbers] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThriftProducts]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThriftProducts](
	[thriftProductID] [nvarchar](50) NOT NULL,
	[thriftProductName] [nvarchar](50) NOT NULL,
	[thriftProductUnitPrice] [int] NOT NULL,
	[thriftProductQty] [int] NOT NULL,
	[thriftProductCategory] [nvarchar](50) NOT NULL,
	[thriftProductSupplierID] [nvarchar](50) NOT NULL,
	[thriftProductStatus] [nvarchar](50) NOT NULL,
	[thriftProductOnDate] [datetime2](7) NOT NULL,
	[thriftProductOffDate] [datetime2](7) NOT NULL,
	[thriftPicture] [nvarchar](50) NULL,
 CONSTRAINT [PK_thriftProducts] PRIMARY KEY CLUSTERED 
(
	[thriftProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThriftPurchase]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThriftPurchase](
	[CustomerID] [nvarchar](50) NOT NULL,
	[thriftPurchaseID] [nvarchar](50) NOT NULL,
	[thriftPurchaseDate] [date] NOT NULL,
	[employeeID] [nvarchar](50) NOT NULL,
	[thriftPurchaseState] [bit] NOT NULL,
 CONSTRAINT [PK_thriftpurchase] PRIMARY KEY CLUSTERED 
(
	[thriftPurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThriftPurchaseDetail]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThriftPurchaseDetail](
	[thriftPurchaseID] [nvarchar](50) NOT NULL,
	[thriftName] [nvarchar](50) NOT NULL,
	[thriftQuantity] [int] NOT NULL,
	[thriftNote] [nvarchar](max) NOT NULL,
	[thriftPrice] [int] NOT NULL,
 CONSTRAINT [PK_thriftPurchaseDetail] PRIMARY KEY CLUSTERED 
(
	[thriftPurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThriftShopOrderDetail]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThriftShopOrderDetail](
	[thriftOrderStatus] [nvarchar](50) NOT NULL,
	[thriftProductID] [nvarchar](50) NOT NULL,
	[thriftProductQty] [int] NOT NULL,
	[thriftProductUnitPrice] [int] NOT NULL,
 CONSTRAINT [PK_thriftShopOrderDetail] PRIMARY KEY CLUSTERED 
(
	[thriftOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThriftShopOrders]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThriftShopOrders](
	[thriftOrderID] [nvarchar](50) NOT NULL,
	[thriftCustomerID] [nvarchar](50) NOT NULL,
	[thriftEmployeeID] [nvarchar](50) NOT NULL,
	[thriftOrderDate] [datetime] NOT NULL,
	[thriftShipDate] [datetime] NOT NULL,
	[thriftOrderStatus] [nvarchar](50) NOT NULL,
	[thriftShipAddress] [nvarchar](50) NOT NULL,
	[ShippingMethod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_thriftShopOrders] PRIMARY KEY CLUSTERED 
(
	[thriftOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 2023/5/29 上午 11:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermission](
	[UserID] [nvarchar](50) NOT NULL,
	[PermissionID] [int] NOT NULL,
 CONSTRAINT [PK_UserPermission] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'6.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230420134125_Default Schema', N'6.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230420134753_Added Application', N'6.0.15')
GO
SET IDENTITY_INSERT [dbo].[ADvertises] ON 

INSERT [dbo].[ADvertises] ([ADId], [ADtitle], [ADContent], [ADStart], [ADEnd], [ADPicture], [Employee], [ADviews]) VALUES (1, N'無法抗拒，你藍色的眼睛～華碩 ROG Z790 指定主板加碼 ROG 750W 電源！', N'搭著 4/18 蝦皮折價券一起用，締造最狂 C/P 值！RTX4070 剛發售，正值組裝熱潮，常接觸 DIY 的玩家一定知道組一台 PC 能再殺個 $300-$500 快成為不可能的任務了，請陽帆來估價都沒辦法再喊低一點低一點了！原價屋攜手華碩 ROG，這檔直接送 $4000~$6000 的贈品送到手軟，活動數量有限，得把握機會，畢竟要原廠一下吐這麼資源出來真的不容易…', CAST(N'2023-03-01T18:30:00.000' AS DateTime), CAST(N'2023-03-29T18:30:00.000' AS DateTime), N'1', N'COCO', NULL)
INSERT [dbo].[ADvertises] ([ADId], [ADtitle], [ADContent], [ADStart], [ADEnd], [ADPicture], [Employee], [ADviews]) VALUES (2, N'【開箱】華碩 ROG Azoth 75%無線三模機械式鍵盤，潤軸/插拔/拆解極致DIY！', N'看到要價七仟四百九十元這個價格還請遊戲玩家們千萬要忍住，不要露出驚訝的神情，免得讓鍵盤改裝發燒友笑我們如此孤陋寡聞，逛逛交易市場這樣一組有名的 Gasket 客製化三模機械鍵盤套件，直達萬元的都有還不含軸體/衛星軸/鍵帽！', CAST(N'2023-04-11T13:21:22.000' AS DateTime), CAST(N'2023-04-21T13:21:22.000' AS DateTime), N'2', N'Alice', NULL)
INSERT [dbo].[ADvertises] ([ADId], [ADtitle], [ADContent], [ADStart], [ADEnd], [ADPicture], [Employee], [ADviews]) VALUES (3, N'【開箱】全景展櫃再讓你玩背插式主板！SAMA新鏡界M-ATX機殼。', N'雙面玻璃全景透側，還能再把前金屬柱拆下來加大視野，SAMA新鏡界機殼可以讓你盡情展示零件，更可以配合背插式主機板安裝，把連接器與纜線通通藏到背後反著插，在幾乎全暴露的玻璃窗內展現出簡潔且低調的一面。其實現在雙玻璃透側機殼真的越來越多，今天要介紹的SAMA新鏡界機殼也是其中之一，只是它特別設計成支援背插主板，不僅走在潮流尖端，也大大增加觀賞性', CAST(N'2023-03-30T14:33:25.000' AS DateTime), CAST(N'2023-04-30T14:33:25.000' AS DateTime), N'3', N'William', NULL)
SET IDENTITY_INSERT [dbo].[ADvertises] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'30c6dc7a-09cb-4287-b34b-8409bfd6819d', N'Boss', N'BOSS', N'1353d916-fcba-4ac0-b361-a7bdb5c4725b')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'45d2a30f-5d2e-4250-a722-d20569f4df23', N'Admin', N'ADMIN', N'3ae87d9e-d13f-4fdc-95ff-939423c378c0')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'49f1a0a3-b64d-4a1e-be21-637a713cc610', N'Employee', N'EMPLOYEE', N'adfbf3a9-f217-4283-be87-ec92ec22c705')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'045624cf-34a9-4a65-9d6d-a514dc4dffc0', N'b303deaf-3061-4c1b-a603-e4f3d57f54cd')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'09d5094b-cc4d-4061-b1b9-1a5a309d6e0d', N'b303deaf-3061-4c1b-a603-e4f3d57f54cd')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'173d6349-e2a0-46e8-9b67-0ea40e638d97', N'b303deaf-3061-4c1b-a603-e4f3d57f54cd')
GO
INSERT [dbo].[CaseSpecification] ([ProductsId], [compact], [GPULimit_mm]) VALUES (N'A21', N'MATX', 380)
INSERT [dbo].[CaseSpecification] ([ProductsId], [compact], [GPULimit_mm]) VALUES (N'CST130', N'MATX', 300)
INSERT [dbo].[CaseSpecification] ([ProductsId], [compact], [GPULimit_mm]) VALUES (N'D41', N'ATX', 342)
GO
INSERT [dbo].[ComputerModel] ([ProductsID], [Value]) VALUES (N'Case', N'modelCASE_caller')
INSERT [dbo].[ComputerModel] ([ProductsID], [Value]) VALUES (N'Cpu', N'modelCPU_Intel_Core_i7_6950X')
INSERT [dbo].[ComputerModel] ([ProductsID], [Value]) VALUES (N'Gpu', N'modelGPU_MSI_RTX3080')
GO
INSERT [dbo].[CPUSpecifications] ([ProductId], [pins], [power], [Base_Frequency], [Max_Frequency], [Total_Cores], [Total_Threads]) VALUES (N'i3-10105', N'1200', 65, 3.7, 4.4, 4, 8)
INSERT [dbo].[CPUSpecifications] ([ProductId], [pins], [power], [Base_Frequency], [Max_Frequency], [Total_Cores], [Total_Threads]) VALUES (N'i5-12400F', N'1700', 65, 2.5, 4.4, 6, 12)
INSERT [dbo].[CPUSpecifications] ([ProductId], [pins], [power], [Base_Frequency], [Max_Frequency], [Total_Cores], [Total_Threads]) VALUES (N'i7-12700', N'1700', 65, 1.6, 4.9, 12, 20)
GO
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [C_Phone], [C_Account], [C_Email], [C_PassWord], [C_Birth], [C_AddDate], [C_Address], [C_Notes]) VALUES (N'1', N'1', N'2', N'3', N'5', N'4', CAST(N'1999-06-12T00:00:00.000' AS DateTime), CAST(N'1998-05-12T00:00:00.000' AS DateTime), N'1', N'12')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [C_Phone], [C_Account], [C_Email], [C_PassWord], [C_Birth], [C_AddDate], [C_Address], [C_Notes]) VALUES (N'12', N'1', N'2', N'2', N'2', N'2', CAST(N'1995-01-02T00:00:00.000' AS DateTime), CAST(N'1995-02-01T00:00:00.000' AS DateTime), N'2', NULL)
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [C_Phone], [C_Account], [C_Email], [C_PassWord], [C_Birth], [C_AddDate], [C_Address], [C_Notes]) VALUES (N'6b8e5533-6be5-4116-ab8f-6eee62391854', N'全端一號', N'0928467591', N'全端了', N'A6513@gmail.com', N'Zxcv12345', CAST(N'1996-12-12T00:00:00.000' AS DateTime), CAST(N'2023-05-26T00:00:00.000' AS DateTime), N'高雄市前金區', NULL)
GO
INSERT [dbo].[FavoriteList] ([CustomerId], [ProductId]) VALUES (N'6b8e5533-6be5-4116-ab8f-6eee62391854', N'A21')
INSERT [dbo].[FavoriteList] ([CustomerId], [ProductId]) VALUES (N'6b8e5533-6be5-4116-ab8f-6eee62391854', N'LANCOOL_216 ')
INSERT [dbo].[FavoriteList] ([CustomerId], [ProductId]) VALUES (N'6b8e5533-6be5-4116-ab8f-6eee62391854', N'M1')
GO
INSERT [dbo].[GpuComparisonSystem] ([ProductsID], [_4K_mark], [FHD_mark], [BASE_mark], [FFXIV_mark], [Temperature], [Price], [Running_date], [img]) VALUES (N'Nvidia_RTX_3060_8G', N'6826', N'11283', N'7349', N'8394', N'56', N'10,438', CAST(N'2023-05-20' AS Date), N'Nvidia-RTX-3060-8G.jpg')
INSERT [dbo].[GpuComparisonSystem] ([ProductsID], [_4K_mark], [FHD_mark], [BASE_mark], [FFXIV_mark], [Temperature], [Price], [Running_date], [img]) VALUES (N'Nvidia_RTX_3060TI_12G', N'9250', N'15239', N'9907', N'11128', N'62', N'12,894', CAST(N'2023-05-20' AS Date), N'Nvidia-RTX-3060-12G.jpg')
INSERT [dbo].[GpuComparisonSystem] ([ProductsID], [_4K_mark], [FHD_mark], [BASE_mark], [FFXIV_mark], [Temperature], [Price], [Running_date], [img]) VALUES (N'Nvidia_RTX_3070', N'11276', N'18181', N'11994', N'12903', N'68', N'15,350', CAST(N'2023-05-20' AS Date), N'Nvidia-RTX-3070.jpg')
GO
INSERT [dbo].[GPUSpecification] ([ProductId], [GPU_Length], [power]) VALUES (N'NVIDIA GeForce RTX 4060 Ti', 242, 160)
INSERT [dbo].[GPUSpecification] ([ProductId], [GPU_Length], [power]) VALUES (N'Nvidia_RTX_3060_8G', 249, 200)
INSERT [dbo].[GPUSpecification] ([ProductId], [GPU_Length], [power]) VALUES (N'Nvidia_RTX_3060TI_12G', 249, 170)
GO
INSERT [dbo].[MemorySpecification] ([ProductId], [DDR_MEMORY], [MEMORY_GB]) VALUES (N'AX4U320038G16A-DB10', N'DDR4_3200', 8)
INSERT [dbo].[MemorySpecification] ([ProductId], [DDR_MEMORY], [MEMORY_GB]) VALUES (N'CT16G4DFRA32A', N'DDR4_3200', 16)
INSERT [dbo].[MemorySpecification] ([ProductId], [DDR_MEMORY], [MEMORY_GB]) VALUES (N'CT32G4DFD832A', N'DDR4_3200', 32)
GO
INSERT [dbo].[MotherBoardsSpecification] ([ProductId], [pins], [MEMORY_GB], [DDR_MEMORY], [FACTOR], [power]) VALUES (N'B550M_PRO', N'AM4', 64, N'DDR4_3200', N'MATX', 75)
INSERT [dbo].[MotherBoardsSpecification] ([ProductId], [pins], [MEMORY_GB], [DDR_MEMORY], [FACTOR], [power]) VALUES (N'B650-PLUS', N'AM5', 128, N'DDR5_6400', N'ATX', 75)
INSERT [dbo].[MotherBoardsSpecification] ([ProductId], [pins], [MEMORY_GB], [DDR_MEMORY], [FACTOR], [power]) VALUES (N'B660M-A', N'1700', 192, N'DDR4_6200', N'MATX', 125)
GO
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [ProductQty], [ProductUnitPrice]) VALUES (N'A202201150345', N'F2247', 3, 25900)
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [ProductQty], [ProductUnitPrice]) VALUES (N'A202201150345', N'M2245', 5, 37500)
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [ProductQty], [ProductUnitPrice]) VALUES (N'A202201150345', N'M3541', 4, 12900)
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderOnDate], [ShipDate], [OrderStatus], [ShipAddress], [ShippingMethod], [AcceptEmail], [AcceptName], [AcceptNumber], [Notes]) VALUES (N'A202201150345', N'C01', N'E01', CAST(N'2023-04-20T09:42:00.000' AS DateTime), CAST(N'2023-04-24T09:42:00.000' AS DateTime), N'審核中', N'高雄市', N'全家店到店', N'adf', N'sadf', N'asdf', NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [OrderOnDate], [ShipDate], [OrderStatus], [ShipAddress], [ShippingMethod], [AcceptEmail], [AcceptName], [AcceptNumber], [Notes]) VALUES (N'C16456', N'C02', N'E03', CAST(N'2023-04-14T13:41:00.000' AS DateTime), CAST(N'2023-04-15T13:41:00.000' AS DateTime), N'審核中', N'高雄市', N'蝦皮店', N'sadf', N'asdf', N'asdf', NULL)
GO
INSERT [dbo].[PowerSpecification] ([ProductId], [power], [_80PLUS], [compact]) VALUES (N'DQ750M-V3L', 750, N'金牌', N'ATX')
INSERT [dbo].[PowerSpecification] ([ProductId], [power], [_80PLUS], [compact]) VALUES (N'FOCUS-GX1000', 1000, N'金牌', N'ATX')
INSERT [dbo].[PowerSpecification] ([ProductId], [power], [_80PLUS], [compact]) VALUES (N'FOCUS-GX850', 850, N'金牌', N'ATX')
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductUnitPrice], [ProductQty], [ProductCategory], [ProductSupplierID], [ProductStatus], [ProductOnDate], [ProductOffDate], [ProductPic], [ProductNotes]) VALUES (N'A254', N'全民RTX時代來臨！ZOTAC RTX 3050 Solo 8GB顯卡限量免七仟！', 6990, 547, N'GPU', N'NVIDIA', N'上架', CAST(N'2023-01-15T00:00:00.000' AS DateTime), CAST(N'2023-12-12T00:00:00.000' AS DateTime), N'RTX3050_solo', N'體積最小！價格最便宜的光追顯卡！不用七仟塊，讓你爽爽玩3A遊戲大作！還再考慮買GTX系列的玩家們不用考慮了，1080P最佳首選遊戲顯卡非ZOTAC RTX 3050 Solo 8GB莫屬了！想要開逼真寫實的光追效果，搭配DLSS技術，遊戲平均也都有60 fps水準！')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductUnitPrice], [ProductQty], [ProductCategory], [ProductSupplierID], [ProductStatus], [ProductOnDate], [ProductOffDate], [ProductPic], [ProductNotes]) VALUES (N'AX4U320038G16A-DB10', N'威剛 XPG DDR4 3200 8GB*2 超頻桌上型記憶體', 1159, 152, N'MEMORY', N'ADATA', N'上架', CAST(N'2023-05-24T22:51:06.413' AS DateTime), CAST(N'2023-05-24T22:51:06.413' AS DateTime), N'威剛 XPG DDR4 3200 8GB2 超頻桌上型記憶體', N'★ CL16-20-20
★ 外型散熱，兩全其美
★ 散熱片高度適中 安裝不費力
★ 傳輸超穩不熱當
★ 支援 XMP 2.0 輕鬆超頻
★ 工作電壓1.35伏特
★ 終身保固')
GO
INSERT [dbo].[ShoppingCart] ([CustomerId], [ProductId], [ProductQty], [ProductUnitPrice]) VALUES (N'6b8e5533-6be5-4116-ab8f-6eee62391854', N'A21', 9, 1690)
INSERT [dbo].[ShoppingCart] ([CustomerId], [ProductId], [ProductQty], [ProductUnitPrice]) VALUES (N'6b8e5533-6be5-4116-ab8f-6eee62391854', N'CST130', 4, 1190)
INSERT [dbo].[ShoppingCart] ([CustomerId], [ProductId], [ProductQty], [ProductUnitPrice]) VALUES (N'CustomerId', N'A254', 13, 6990)
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Address], [Phone], [ContactPerson], [Email], [Bank], [Account], [Uniform_numbers]) VALUES (1, N'ASUS', N'台北市北投區北投路二段11號2樓', N'02-25704369', N'Amy', N'asus@gmail.com', N'812', N'28881001448325', N'23638777')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Address], [Phone], [ContactPerson], [Email], [Bank], [Account], [Uniform_numbers]) VALUES (2, N'acer', N'台北市松山區10541復興北路369號7樓之5', N'02-26961234', N'Joan', N'investor.relations@acer.com', N'700', N'01015370233456', N'20828393')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Address], [Phone], [ContactPerson], [Email], [Bank], [Account], [Uniform_numbers]) VALUES (3, N'GIGABYTE', N'新北市新店區寶興里寶強路6號5樓', N'02-25019395', N'Mike', N'stockholder@gigabyte.com', N'822', N'0584235936213', N'	22044755')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[ThriftProducts] ([thriftProductID], [thriftProductName], [thriftProductUnitPrice], [thriftProductQty], [thriftProductCategory], [thriftProductSupplierID], [thriftProductStatus], [thriftProductOnDate], [thriftProductOffDate], [thriftPicture]) VALUES (N'1', N'技嘉GA-H81M-DS2 i5 4460 8G記憶體', 5000, 1, N'主機', N'614', N'0', CAST(N'2022-10-10T00:00:00.0000000' AS DateTime2), CAST(N'2023-04-04T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ThriftProducts] ([thriftProductID], [thriftProductName], [thriftProductUnitPrice], [thriftProductQty], [thriftProductCategory], [thriftProductSupplierID], [thriftProductStatus], [thriftProductOnDate], [thriftProductOffDate], [thriftPicture]) VALUES (N'123', N'顯示卡1', 50000, 1, N'顯示卡', N'S01', N'上架', CAST(N'2023-01-03T13:22:00.0000000' AS DateTime2), CAST(N'2023-03-02T13:23:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ThriftProducts] ([thriftProductID], [thriftProductName], [thriftProductUnitPrice], [thriftProductQty], [thriftProductCategory], [thriftProductSupplierID], [thriftProductStatus], [thriftProductOnDate], [thriftProductOffDate], [thriftPicture]) VALUES (N'2', N'ACER Intel I5 6500 120G SSD 1TB 機械碟 DDR4 8G', 3000, 1, N'主機', N'123', N'0', CAST(N'2023-04-04T16:39:00.0000000' AS DateTime2), CAST(N'2023-04-12T16:39:00.0000000' AS DateTime2), NULL)
GO
INSERT [dbo].[ThriftShopOrders] ([thriftOrderID], [thriftCustomerID], [thriftEmployeeID], [thriftOrderDate], [thriftShipDate], [thriftOrderStatus], [thriftShipAddress], [ShippingMethod]) VALUES (N'D415645', N'C03', N'E06', CAST(N'2023-04-13T12:18:00.000' AS DateTime), CAST(N'2023-04-29T12:18:00.000' AS DateTime), N'送貨中', N'台南市東區', N'蝦皮店到店')
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__Addre__6A30C649]  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUser__Name__571DF1D5]  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderOnDate]  DEFAULT (getdate()) FOR [OrderOnDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_ShipDate]  DEFAULT (getdate()) FOR [ShipDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ProductStatus]  DEFAULT (N'上架') FOR [ProductStatus]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ProductOnDate]  DEFAULT (getdate()) FOR [ProductOnDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_ProductOffDate]  DEFAULT (getdate()) FOR [ProductOffDate]
GO
ALTER TABLE [dbo].[ShoppingCart] ADD  CONSTRAINT [DF_ShoppingCart_Qty]  DEFAULT ((1)) FOR [ProductQty]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Orders1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Orders1]
GO
ALTER TABLE [dbo].[PermissionFunction]  WITH CHECK ADD  CONSTRAINT [FK_PermissionFunction_Functions] FOREIGN KEY([FountionID])
REFERENCES [dbo].[Functions] ([FunctionID])
GO
ALTER TABLE [dbo].[PermissionFunction] CHECK CONSTRAINT [FK_PermissionFunction_Functions]
GO
ALTER TABLE [dbo].[PermissionFunction]  WITH CHECK ADD  CONSTRAINT [FK_PermissionFunction_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permission] ([PermissionID])
GO
ALTER TABLE [dbo].[PermissionFunction] CHECK CONSTRAINT [FK_PermissionFunction_Permission]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Employees]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Purchase] FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[Purchase] ([PurchaseID])
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_Purchase]
GO
ALTER TABLE [dbo].[ThriftPurchase]  WITH CHECK ADD  CONSTRAINT [FK_ThriftPurchase_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[ThriftPurchase] CHECK CONSTRAINT [FK_ThriftPurchase_Customers]
GO
ALTER TABLE [dbo].[ThriftPurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_ThriftPurchaseDetail_ThriftPurchase] FOREIGN KEY([thriftPurchaseID])
REFERENCES [dbo].[ThriftPurchase] ([thriftPurchaseID])
GO
ALTER TABLE [dbo].[ThriftPurchaseDetail] CHECK CONSTRAINT [FK_ThriftPurchaseDetail_ThriftPurchase]
GO
ALTER TABLE [dbo].[ThriftShopOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_thriftShopOrderDetail_thriftProducts] FOREIGN KEY([thriftProductID])
REFERENCES [dbo].[ThriftProducts] ([thriftProductID])
GO
ALTER TABLE [dbo].[ThriftShopOrderDetail] CHECK CONSTRAINT [FK_thriftShopOrderDetail_thriftProducts]
GO
ALTER TABLE [dbo].[ThriftShopOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_thriftShopOrderDetail_thriftShopOrders] FOREIGN KEY([thriftOrderStatus])
REFERENCES [dbo].[ThriftShopOrders] ([thriftOrderID])
GO
ALTER TABLE [dbo].[ThriftShopOrderDetail] CHECK CONSTRAINT [FK_thriftShopOrderDetail_thriftShopOrders]
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_UserPermission_Employees] FOREIGN KEY([UserID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_UserPermission_Employees]
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_UserPermission_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permission] ([PermissionID])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_UserPermission_Permission]
GO
