


<!DOCTYPE html>
<html lang="en">
<head>
	
		<!-- Required Meta -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title For This Document -->
		<title> CCC-Find your dream Computer. </title>
		<!-- Favicon For This Document -->

		<link rel="shortcut icon" href="images/products/favicon-32x32.png" type="image/x-icon">
		<!-- Bootstrap 5 Css -->
		<link rel="stylesheet" href="@Url.Content("~/front/css/bootstrap.5.1.1.min.css")">
		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<!-- Jquery Ui Css -->
		<link rel="stylesheet" href="~/front/css/plugin/jquery-ui.min.css">
		<!-- FlatIcon Css -->
		<link rel="stylesheet" href="~/front/fonts/flaticon.css">
		<!-- Slick Slider Css -->
		<link rel="stylesheet" href="~/front/css/plugin/slick.css">
		<!-- Magnific-popup Css -->
		<link rel="stylesheet" href="~/front/css/plugin/magnific-popup.css">
		<!-- Style Css -->
	<link rel="stylesheet" href="@Url.Content("~/front/css/style.css")">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	    <link rel="stylesheet" href="~/front/css/plugin/test.css">
		@await RenderSectionAsync("Styles", required: false)
	</head>



<body>
	@*<div id="fb-root"></div>*@
		<!--start header -->
    <header>
        <div class="menu-box">
            <div class="container position-relative">
                <div class="mobile-header d-lg-none d-block pt-3 pb-3">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <ul class="micon-box transparent">
                                <li>
                                    <button class="micon ps-0" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasmenu">
                                        <span><i class="flaticon-menu-1"></i> </span>
                                    </button>
                                </li>
                                <li>
                                    <button class="micon" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight4" aria-controls="offcanvasRight4">
                                        <span><i class="flaticon-loupe"></i></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 text-center">
							<a asp-action="Index_front" asp-controller="Home" asp-area="" class="logo d-inline-block">
                                <img src="~/front/images/logo/logo1.png" alt="#0">
                            </a>
                        </div>
                        <div class="col-4">
                            <ul class="micon-box transparent justify-content-end">
                                <li>
                                    <a href="wishlist.html" class="micon">
                                        <span> <i class="flaticon-heart"> </i> </span>
                                        <span class="count"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#offcanvasRight" data-bs-toggle="offcanvas" class="micon">
                                        <span>
                                            <i class="flaticon-shopping-cart"> </i>
                                        </span>
                                        <span class="count">2 </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row d-lg-block d-none">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="logo-holder me-5">
								<a asp-action="Index_front" asp-controller="Home"   asp-area="" class="logo">
                                    <img src="~/front/images/logo/logo1.png" alt="#0">
                                </a>
                            </div>
                            <nav class="d-flex justify-content-center align-items-center side-menu">
                                <ul class="navbar-nav nav menu">
                                    <li class="nav-item has-dropdown">
                                        <a class="nav-link hover-base text-capitalize font-16" href="#0">
                                            <span>套裝主機</span>
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item has-dropdown">
                                        <a class="nav-link hover-base text-capitalize font-16" href="#0">
                                            <span>週邊零件</span>
                                        </a>

                                    </li>
									<li class="nav-item has-dropdown">
										<a class="nav-link hover-base text-capitalize font-16" href="#0">
											<span>促銷活動</span>
										</a>

									</li>
									<li class="nav-item has-dropdown">
										<a class="nav-link hover-base text-capitalize font-16" href="#0">
											<span>套裝主機</span>
										</a>

									</li>
                                    <li class="nav-item">
										<a class="nav-link hover-base text-capitalize font-16" asp-area="FrontThrift" asp-controller="FrontThrift" asp-action="Products">
											<span>二手主機</span>
										</a>                                  
                                    </li>
									<li class="nav-item">
										<a class="nav-link hover-base text-capitalize font-16" asp-area="FrontThrift" asp-controller="FrontThrift" asp-action="index">
											<span>二手主頁</span>
										</a>
									</li>
                                    <li class="nav-item">
                                        <a class="nav-link hover-base text-capitalize font-16" href="contact.html">
                                            <span>論壇</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class=" d-flex align-items-center justify-content-end">
                            <div class="ibox pe-1 d-flex align-items-center">
                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight4"
                                        aria-controls="offcanvasRight4"
                                        class="position-relative d-flex justify-content-center align-items-center">
                                    <span class="icon"><i class="flaticon-search-interface-symbol"></i> </span>
                                </button>
                            </div>
                            <div class="ms-3 ibox d-flex align-items-center">
                                <a href="compare.html"
                                   class="position-relative d-flex justify-content-center align-items-center">
                                    <span class="icon me-3"><i class="flaticon-left-and-right-arrows"></i> </span>
                                    <span class="count color-white position-absolute">4</span>
                                </a>
                            </div>
                            <div class="ms-3 ibox d-flex align-items-center">
                                <a href="wishlist.html"
                                   class="position-relative d-flex justify-content-center align-items-center">
                                    <span class="icon me-3"><i class="flaticon-heart"></i> </span>
                                    <span class="count bggrn color-white position-absolute">2</span>
                                </a>
                            </div>
                            <a href="#offcanvasRight" data-bs-toggle="offcanvas"
                               class="ms-3 ibox d-flex align-items-center">
                                <div class="position-relative d-flex justify-content-center align-items-center">
                                    <span class="icon me-3"><i class="flaticon-shopping-cart"></i> </span>
                                    <span class="count color-white position-absolute">3</span>
                                </div>
                                <div class="text d-flex flex-column">
                                    <span class="fw-600 colorBlaack font-16">$0.00</span>
                                </div>
                            </a>
                            <div class="ms-3 ibox d-flex align-items-center">
                                <a href="sign.html"
                                   class="position-relative d-flex justify-content-center align-items-center">
                                    <span class="icon me-3">
                                        <i class="fa-solid fa-arrow-right-to-bracket"
                                           title="Login"></i>
                                    </span>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<div class="row row-cols-12">


					<!--end page wrapper -->
					<!--start overlay-->
					@*<div class="overlay toggle-icon"></div>*@
					<!--end overlay-->
					<!--Start Back To Top Button--> 
					<!--End Back To Top Button-->

					<div class="">
						<main role="main" class="pb-3">
							@RenderBody()
						</main>
					</div>
				</div>
			</div>
		</div>
	<footer class="dark-footer footer bgcover fborder pt-120  overflow-hidden"
			style="background-image: url(@Url.Content("../front/images/demo-1/footerbg.jpg"));">
		<div class="footer-middle pb-30">
			<div class="container">
				<div class="row mt--30">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mt-30 mb-30">
						<div class="footer_widget">
                            <img src="~/front/images/logo/logo-2.png" class="img-footer small mb-2" alt="pictures">
							<p class="address mt-3">
								3298 Grant Street Longview, TX<br>United Kingdom 75601
							</p>
							<p class="mt-3">
								<a class="address hover-base" href="tel:+4733378901">1-202-555-0106</a>
							</p>
							<p class="mt-1">
								<a class="address hover-base" href="mailto:test@test.com">help@shopper.com</a>
							</p>
							<div class="mt-3">
								<ul class="social d-flex align-items-center">
									<li>
										<a href="https://www.facebook.com/" target="_blank"
										   class="hover-base font-16 me-3">
											<i class="flaticon-facebook-app-symbol"></i>
										</a>
									</li>
									<li>
										<a href="https://youtube.com/" target="_blank"
										   class="hover-base font-14 me-3"><i class="flaticon-youtube"></i></a>
									</li>
									<li>
										<a href="https://www.twitter.com/" target="_blank"
										   class="hover-base font-14 me-3"><i class="flaticon-twitter"></i></a>
									</li>
									<li>
										<a href="https://www.instagram.com/" target="_blank"
										   class="hover-base font-14"><i class="flaticon-instagram"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 fafter col-lg-2 col-md-2 col-sm-12 mt-30 mb-30">
						<div class="footer_widget">
							<h6 class="color-white text-uppercase fw-500">Supports</h6>
							<ul class="footer-menu mt-3">
								<li class="mt-0"><a href="contact.html">Contact Us</a></li>
								<li><a href="about.html">About Page</a></li>
								<li><a href="contact.html">Size Guide</a></li>
								<li><a href="contact.html">Shipping & Returns</a></li>
								<li><a href="faq.html">FAQ's Page</a></li>
								<li><a href="contact.html">Privacy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 fafter col-lg-2 col-md-2 col-sm-12 mt-30 mb-30">
						<div class="footer_widget">
							<h6 class="color-white text-uppercase fw-500">Information</h6>
							<ul class="footer-menu mt-3">
								<li class="mt-0"><a href="contact.html">Order History</a></li>
								<li><a href="wishlist.html">Wishlist</a></li>
								<li><a href="contact.html">Newsletter</a></li>
								<li><a href="shop-grid-1.html">Specials</a></li>
								<li><a href="contact.html">Affiliate</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-2 fafter col-lg-2 col-md-2 col-sm-12 mt-30 mb-30  ">
						<div class="footer_widget">
							<h6 class="color-white text-uppercase fw-500">Company</h6>
							<ul class="footer-menu mt-3">
								<li class="mt-0"><a href="#">USA</a></li>
								<li><a href="contact.html">Thailand</a></li>
								<li><a href="contact.html">France</a></li>
								<li><a href="contact.html">England</a></li>
								<li><a href="contact.html">India</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-3 fafter col-lg-3 col-md-3 col-sm-12 mt-30 mb-30  ">
						<div class="footer_widget">
							<h6 class="color-white text-uppercase fw-500">Subscribe</h6>
							<p class="ftext mt-3">
								Receive updates, hot deals, discounts sent
								straignt in your
								inbox daily
							</p>
							<form action="#0" class="mt-3 pt-2">
								<div class="cNews position-relative d-flex border-0">
									<input type="email" class="form-control w-100" placeholder="E-mail Address">
									<button class="btnarrow">
										<i class="flaticon-next"></i>
									</button>
								</div>
							</form>
							<div class="address mt-3">
								<h5 class="fs-sm text-light">Secure Payments</h5>
								<ul class="d-flex footerPay mt-2 align-items-center">
									<li class="me-2">
										<a href="#0">
                                            <img src="~/front/images/demo-1/paymenty-1.png"
												 alt="pictures">
										</a>
									</li>
									<li class="me-2">
										<a href="#0">
											<img src="~/front/images/demo-1/paymenty-2.png"
												 alt="pictures">
										</a>
									</li>
									<li class="me-2">
										<a href="#0">
											<img src="~/front/images/demo-1/paymenty-3.png"
												 alt="pictures">
										</a>
									</li>
									<li class="me-2">
										<a href="#0">
											<img src="~/front/images/demo-1/paymenty-4.png"
												 alt="pictures">
										</a>
									</li>
									<li>
										<a href="#0">
											<img src="~/front/images/demo-1/paymenty-5.png" alt="pictures">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 text-center  ">
						<p class="mb-0 ftext">
							© 2023. Designd By <a href="index.html"
												  class="ftext hover-base">Nipom</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<a href="#0" class="scrollToTop"><i class="flaticon-up-arrow"></i></a>
		<!--end wrapper-->
		<!--==== Js Scripts Start ====-->
		<!-- Jquery v3.6.0 Js -->

		<script src="~/front/js/jqurey.v3.6.0.min.js"></script>
		<!-- Popper v2.9.3 Js -->
		<script src="~/front/js/popper.v2.9.3.min.js"></script>
		<!-- Bootstrap v5.1.1 js -->
		<script src="~/front/js/bootstrap.v5.1.1.min.js"></script>
		<!-- Jquery Ui js -->
		<script src="~/front/js/plugin/jquery-ui.min.js"></script>
		<!-- Slick Slider Js -->
		<script src="~/front/js/plugin/slick.min.js"></script>
		<!-- magnific-popup v2.3.4 Js -->
		<script src="~/front/js/plugin/jquery.magnific-popup.min.js"></script>
		<!-- Countdown Js -->
		<script src="~/front/js/plugin/jquery.countdown.min.js"></script>
		<!-- Main js -->
		<script src="~/front/js/main.js"></script>
		@await RenderSectionAsync("Scripts", required: false)

</body>

</html>
