<div class="page-content">

    <!--Start Breadcrumb Style2-->
    <section class="breadcrumb-area" style="background-image: url(../images/innerpage/blogbanner.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-content position-relative text-center  ">
                        <h2 class="color-white fw-600">促銷優惠活動</h2>
                        <div class="breadcrumb-menu">
                            <ul class="d-flex align-items-center mt-2 justify-content-center">
                                <li>
                                    <a href="index.html"
                                       class="d-inline-flex align-items-center color-white hover-base ">
                                        <i class="flaticon-home pe-2"></i>Home
                                    </a>
                                </li>
                                <li class="color-white ms-2 me-2 lh-0"><i class="flaticon-next"></i> </li>
                                <li class="color-white active">促銷優惠活動</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Breadcrumb Style2-->
    <!-- blog-wrapper start -->
    <section class="blog pt-120 pb-60">
        <div class="container">
            <div class="row   mt--30">
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details" asp-controller="Home" class="d-block">
                                <img src="../images/blog/gamerday.png" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by Nipom parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    【活動】intel Gamer Days ! 買intel 12th i7K/KF、i9K/KF【真威】組合 ，就送《Intel Gamer
                                    Days狂歡限定遊戲包》(價值$4,000)
                                </h5>
                            </a>
                            <p class="pt-2">
                                6/1~6/30 購買intel 13th i7K/KF、i9K/KF組合， 「前20名」即可獲得《Intel Gamer
                                Days狂歡限定遊戲包》(價值$4,000)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details3" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details3" asp-controller="Home" class="d-block">
                                <img src="../images/blog/22TBCMR.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by best parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details3" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    【新品優惠+開箱】22TB CMR 加倍耐用，企業級 Server 不二之選！Seagate IronWolf Pro 氦氣硬碟。
                                </h5>
                            </a>
                            <p class="pt-2">
                                獨家送 USB-C 行動快充！欸我跟你說，買Server專用碟的話，行家總是先挑 CMR 傳統式磁記錄硬碟，不為什麼，就是看中它更穩定更有效率，而
                                Seagate IronWolf Pro 22TB 硬體本身採用氦氣填充全密封設計，相較一般空氣填充硬碟更輕、溫度更低、壽命更長
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details2" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details2" asp-controller="Home" class="d-block">
                                <img src="../images/blog/搶券福利.png" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by Euro Car Parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details2" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    【優惠情報】送你299元!!週末限時限量免運卷.先用先贏.全站皆可用~
                                </h5>
                            </a>
                            <p class="pt-2">
                                ★★ 限時3日，週末全站免運券 ★★ <br>

                                ◎ 全站免運券<br>

                                05/19-05/21 需消費滿$599 (不限商品)就能使用 !! <br>
                                宅配/超商取貨 一律適用再加碼12分期0利率！！ 還在等甚麼~~~ <br>


                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details4" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details4" asp-controller="Home" class="d-block">
                                <img src="../images/blog/blog4.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by best parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details4" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    精選大碟6T當4T賣？TOSHIBA 6TB 企業級硬碟五千有找！
                                </h5>
                            </a>
                            <p class="pt-2">
                                既然是要存最重要的資料了，那當然要選擇速度更快更有保障的 TOSHIBA 企業級硬碟啊！ 6T容量的超限量的優惠活動，有興趣的朋友真的不要錯過了！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details5" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details5" asp-controller="Home" class="d-block">
                                <img src="../images/blog/blog5.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by Nipom parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details5" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    【開箱】E-ATX、質感面板，有身材又有長相！Antec P20C ARGB/P20CE機殼。
                                </h5>
                            </a>
                            <p class="pt-2">
                                人家常說：「帥是裝不出來的！」，但今天這咖Antec P20C ARGB機殼有著超高質感的金屬前面板，不用裝就可以很帥！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details6" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details6" asp-controller="Home" class="d-block">
                                <img src="../images/blog/blog6.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by Euro Car Parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details6" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    三代目龍神幻彩加身！ROG RYUJIN lll 240/360 ARGB 龍神三代水冷再送降噪音效卡。
                                </h5>
                            </a>
                            <p class="pt-2">
                                獨特磁吸式菊鏈ARGB風扇，安裝和線材管理輕而易舉！繼上回的三代龍神+貓頭鷹風扇組合的一體水冷，這回換ARGB幻彩加身的龍神上陣！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details7" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details7" asp-controller="Home" class="d-block">
                                <img src="../images/blog/blog7.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by Euro Car Parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details7" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    【獨家首賣+開箱】能力越大，責任越大！ZOTAC GAMING GEFORCE RTX 4070 AMP
                                    AIRO【蜘蛛人：穿越新宇宙】聯名顯示卡限量再送好禮！
                                </h5>
                            </a>
                            <p class="pt-2">
                                全球限量1200片，台灣僅分貨60片！索泰ZOTAC GAMING
                                為全球玩家帶來無限可能！這次攜手索尼動畫【蜘蛛人：穿越新宇宙】，講述邁爾斯將深入多重宇宙的世界觀，為了慶祝電影即將在六月中上映，索泰ZOTAC
                                GAMING推出電影主題聯名限量顯示卡，全球限量1200片，台灣僅分貨60片！
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details8" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details8" asp-controller="Home" class="d-block">
                                <img src="../images/blog/blog8.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by best parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details8" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    戰戟一出，誰與爭鋒！ G.SKILL幻鋒戟RGB 16GB x2 D5-6400記憶體限量優惠！
                                </h5>
                            </a>
                            <p class="pt-2">
                                無論性能、用料、外型、燈效，甚至最重要的價格全都對了，這組G.SKILL幻鋒戟RGB 16GBx2
                                D5-6400記憶體可說色香味俱全，同級別現在還真的找不到對手，想玩超頻或是剛好組新機、升級的玩家別猶豫了，要選就選這領域最好的吧！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mt-30  ">
                    <div class="blog-item hoverScale">
                        <div class="thumb overflow-hidden position-relative">
                            <a class="btn-base blogbtn" asp-action="Blog_details9" asp-controller="Home">
                                <span>read more +</span>
                            </a>
                            <a asp-action="Blog_details9" asp-controller="Home" class="d-block">
                                <img src="../images/blog/blog9.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="blog-content mt-3">
                            <ul class="list-inline meta d-flex align-items-center">
                                <li class="list-inline-item d-flex align-items-center me-lg-4 me-3">
                                    <span> December 22, 2023 </span>
                                </li>
                                <li class="list-inline-item d-flex align-items-center">
                                    <span class="text-capitalize colorBlaack">by Nipom parts</span>
                                </li>
                            </ul>
                            <a asp-action="Blog_details9" asp-controller="Home" class="d-block mt-2 pt-1">
                                <h5 class="hover-base fw-600">
                                    無敵星星獨家方案！MSI Z790 MEG/MPG 主板搭 CPU 送遊戲大作！
                                </h5>
                            </a>
                            <p class="pt-2">
                                不管你是要買 MSI 周邊、電競主機、筆電、螢幕，桌機升級、組新機，獨家再送你一份大禮！買 MSI Z790 MEG/MPG 任一款主機板 + 第 13 代
                                Intel
                                Core 處理器任一款，回函發票索取序號，即可於 Battle.net
                                免費兌換《決勝時刻：現代戰爭II-2022》遊戲，活動序號有限，送完為止！有興趣的朋友快來購買，或透過線上估價系統下單！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-40">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="blog.html">1</a></li>
                            <li class="page-item"><a class="page-link" href="blog.html">2</a></li>
                            <li class="page-item"><a class="page-link" href="blog.html">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="blog.html">
                                    <i class="flaticon-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
