<!-- Body Container -->
<div class="page-content">

    <!--Start Breadcrumb Style2-->
    <section class="breadcrumb-area" style="background-image: url(../images/innerpage/blogbanner.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-lg-10">
                    <div class="breadcrumb-content position-relative text-center  ">
                        <h1 class="breadBtitle color-white fw-600">
                            促銷優惠活動
                        </h1>
                        <h6 class="color-white mt-3 justify-content-center fw-400 d-flex align-items-center">
                            <!-- <span class="lh-0 me-2"><i class="flaticon-user"></i></span> Posted by: -->
                            <!-- <span class="font-18 ps-2 color-white fw-500">Daniel Gibson</span> -->
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Breadcrumb Style2-->
    <!-- Blog Details Start -->
    <div class="pt-120 pb-60">
        <div class="container">
            <div class="row mt--30">
                <div class="col-xl-8 col-lg-7 mt-30">
                    <div class="blogthumb position-relative  ">

                        <div class="blog-date">
                            <p><span>22</span> May</p>
                        </div>
                    </div>
                    <div class="blog-page-content">
                        <p class="  ">
                            <h2>
                                【開箱】E-ATX、質感面板，有身材又有長相！Antec P20C ARGB/P20CE機殼。
                            </h2>
                        </p>
                        <p class="mt-2  ">


                        </p>

                        <a class="d-block w-100" href="blog-details5.html">
                            <img class=" w-100" src="../images/blog/blog5.jpg" alt="pictures">
                        </a>
                        <div class=" ">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                人家常說：「帥是裝不出來的！」，但今天這咖Antec P20C
                                ARGB機殼有著超高質感的金屬前面板，不用裝就可以很帥，而裝上零件又更不一樣了，憑藉著大空間帶來的高相容性，高階零件都讓你輕鬆裝，絕對會是你組新電腦的最佳選擇之一！<br>
                                今天我們就帶大家來給他認識認識。Antec P20C ARGB不只臉長得好看，還有大面積造型透氣孔導入氣流，加上預裝三顆12cm
                                ARGB風扇輔助，基本的散熱能力已經有了。<br>
                                內部大容量空間支援E-ATX大型主機板，顯示卡長度37.5cm，電源長度20.5cm，CPU空冷高度17cm，並且能同時容納兩組360mm水冷排，儲存擴充也有最多4組2.5″
                                SSD或2組3.5″ HDD的組合，另外再提供顯卡支撐架與風扇hub/燈光控制器可以使用，條件可說是相當豐富！
                                <br>
                                同系列還有推出透側(無燈光)/非透側版本可供選擇，接著我們就一起來認識這款Antec P20C ARGB機殼吧！
                            </p>
                            <img class=" w-100" src="../images/blog/blog5-1.jpg" alt="pictures">
                            <img class=" w-100" src="../images/blog/blog5-3.jpg" alt="pictures">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                簡單介紹一下P20C的家族成員，這系列分成P20C、P20C White、P20C
                                ARGB、P20CE四種版本。<br>
                                其中P20C為玻璃透側且有黑白兩種顏色，P20C ARGB則是將內建風扇換成有光版本，最後的P20CE則是無透側無燈光款，今天會以功能最豐富的P20C
                                ARGB為主介紹唷。
                            </p>
                            <img class=" w-100" src="../images/blog/blog5-4.jpg" alt="pictures">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                機殼尺寸46.9x 22x
                                49，淨重8.1KG，常見的中塔式透側機殼，主打高相容性與優異的散熱能力，內部相容E-ATX規格主機板，感覺機殼的長度、高度都有加大，前方還有大量的透氣孔洞。<br>
                                前面板幾乎整片都是三角造型透氣孔，空氣可以更有效率進入，當然裡面也是有濾網的啦！
                            </p>
                            <img class=" w-100" src="../images/blog/blog5-5.jpg" alt="pictures">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                如果需要更換風扇或裝水冷還是拆乾淨比較方便，前方內建三顆12cm
                                ARGB風扇，如果是P20C/P20CE的話則會是無光版風扇，一旁都有穿線孔讓風扇使用。這裡也能安裝3顆14cm風扇。
                            </p>
                            <img class=" w-100" src="../images/blog/blog5-6.jpg" alt="pictures">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                上方I/O提供2x USB3.2 Gen1 (Type-A)、1x USB3.2 Gen2 (Type-C)、1x AUDIO Jack(3.5mm)、1x
                                Mic Jack(3.5mm)、Power鍵、LED鍵。
                            </p>
                            <img class=" w-100" src="../images/blog/blog5-7.jpg" alt="pictures">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                內部最大可以安裝E-ATX規格主機板，明顯可以看出機殼長度被拉長，除了中央三個主要的穿線孔外，更前方還有兩個就是專為E-ATX等級的大型主板準備。頂部經過挑高設計，直接提升對水冷的相容性，其餘空間也都保持暢通方便空氣進出，散熱基本不會太差，況且還有前面三顆12cm風扇輔助呢！<br>
                                前方可以擴充360/280/240/140/120mm等規格水冷散熱器，電源艙上預先挖出約6.5cm的空間放置冷排，因為風扇可以安裝在支架外側，內側的空間可說非常充裕，甚至要夾漢堡都不是問題，而且底下硬碟支架不會影響水冷安裝喔。
                            </p>
                            <img class=" w-100" src="../images/blog/blog5-8.jpg" alt="pictures">
                            <p class="text-xl-start text-center fw-500 pe-lg-4">
                                最後通電發光順便做個總結，今天的Antec P20C ARGB機殼外型非常耐看，造型前面板走一個低調實用路線，上面大量的透氣孔洞方便氣流進入，再附上三顆12cm
                                ARGB風扇輔助，這部分已經算是有誠意，而且該有的濾網也都沒少，不必擔心灰塵入侵影響散熱。<br>
                                內部支援E-ATX大型主機板，顯卡長度37.5cm，電源長度20.5cm，CPU散熱器高度17cm，大多數主流款式應該都放得下，水冷也能同時容納兩組360mm冷排，無論選擇前、上方都有充分的安裝空間。<br>
                                硬碟能夠選擇4顆2.5″
                                SSD或是2.5″/3.5″各二的組合變化，對照現在以M.2為主流的趨勢也算剛好夠用，另外有附上風扇hub/ARGB控制器、顯卡簡易支架也是幫玩家們省下不少麻煩，整體而言Antec
                                P20C ARGB對於組新電腦的玩家是值得考慮的選項。<br>
                                價格方面也不貴，目前售價$2690元含稅，不喜歡有光害也可以選Antec
                                P20C(售價$2490元)，兩者只是有光沒光的差別而已。甚至是不想要玻璃透側也有P20CE(售價$2390元)，都是含稅報價。歡迎近期組電腦的玩家們參考，只是要注意除了P20C
                                ARGB以外的版本都不會附燈光控制器囉！
                            </p>
                        </div>
                        <!-- <div
                            class="blog-aurthor-review d-flex flex-xl-row flex-column align-items-center mt-30">
                            <div class="blog-aurthor-review-quote  ">
                                <i class="flaticon-right-quote"></i>
                            </div>
                            <div class=" ">
                                <p class="text-xl-start text-center fw-500 pe-lg-4">
                                    “Credibly utilize stand-alone expertise for high-payoff
                                    best practices. <br> Energistically facilitate sticky users”
                                </p>
                                <div class="blog-page-author-name text-xl-start text-center">
                                    <h4 class="font-24">David Smith</h4> <span class="">Author</span>
                                </div>
                            </div>
                        </div>
                        <h2 class="mt-30 pt-lg-3  ">
                            Automobile Parts Bigger Collection.
                        </h2>
                        <p class="mt-2  ">
                            Dramatically transform process-centric ideas through visionary growth strategies.
                            Intrinsicly archite hie emerging channels and empowered communities. Rapidiously
                            productize toproactive ideas after global schemas. Enthusiastically facilitate
                            efficient opportunities for functional functionalities. Conveniently a maximize
                            cross-unit functionalities with cross functional meta-services. Phosfluorescently
                            sonermorph backward-compatible systems via intermandated paradigms.
                        </p> -->
                        <!-- <div class="row gx-3 mt-3 justify-content-center">
                            <div class="col-xl-4 mt-3 col-sm-6  ">
                                <img class="w-100" src="assets/images/blog/sideimg-11.jpg" alt="pictures">
                            </div>
                            <div class="col-xl-4 mt-3 col-sm-6  ">
                                <img class="w-100" src="assets/images/blog/sideimg-12.jpg" alt="pictures">
                            </div>
                            <div class="col-xl-4 mt-3 col-sm-6  ">
                                <img class="w-100" src="assets/images/blog/sideimg-13.jpg" alt="pictures">
                            </div>
                        </div>
                        <p class="mt-2  ">
                            Rapidiously monetize 2.0 human capital rather than robust testing procedures.
                            Uniquely e-enable and standards compliant customer service after inexpensive
                            "outside the box" thinking. Dramatically harness premier e-tailers and pandemic
                            e-markets. Uniquely monetize maintainable benefits and orthogonal scenarios.
                            Completely create B2C data and cross-platform manufactured products.
                        </p> -->
                        <!-- <div
                            class="tagBorder mt-3 d-flex justify-content-between mt-3 align-items-center flex-wrap  ">
                            <div class="right d-flex align-items-center pt-3  ">
                                <p class="me-3 colorBlack fw-500">Tags:</p>
                                <ul class="teg-box d-flex align-items-center flex-wrap">
                                    <li><a href="blog.html" class="tags font-14"> Filter</a></li>
                                    <li><a href="blog.html" class="tags font-14"> Engine</a></li>
                                    <li><a href="blog.html" class="tags font-14"> Brake</a></li>
                                </ul>
                            </div> -->
                        <!-- <div class="d-flex align-items-center pt-3  ">
                                <p class="me-3 colorBlack fw-500">Share:</p>
                                <ul class="media-box.roundmedia d-flex align-items-center">
                                    <li class="mediaLIst me-1">
                                        <a class="media lh-0 roundmedia" href="https://www.facebook.com/"
                                            target="_blank">
                                            <i class="flaticon-facebook-app-symbol"></i>
                                        </a>
                                    </li>
                                    <li class="mediaLIst me-1">
                                        <a class="media lh-0 roundmedia" href="https://www.instagram.com/"
                                            target="_blank">
                                            <i class="flaticon-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="mediaLIst me-1">
                                        <a class="media lh-0 roundmedia" href="https://youtube.com/"
                                            target="_blank">
                                            <i class="flaticon-youtube"></i>
                                        </a>
                                    </li>
                                    <li class="mediaLIst">
                                        <a class="media lh-0 roundmedia" href="https://www.twitter.com/"
                                            target="_blank">
                                            <i class="flaticon-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-6 mt-3  ">
                                <a asp-action="Blog_details4" asp-controller="Home" class="hover-base fw-500 d-flex align-items-center">
                                    <span class="me-1 lh-0">
                                        <i class="flaticon-back-1"></i>
                                    </span>
                                    <span class="font-16">Prev Post</span>
                                </a>
                                <div class="d-flex mt-3 align-items-center">
                                    <a asp-action="Blog_details4" asp-controller="Home"
                                       class="roundthumb overflow-hidden d-inline-block  me-3">
                                        <img src="../images/blog/blog4-100.jpg" alt="pictures">
                                    </a>
                                    <a asp-action="Blog_details4" asp-controller="Home">
                                        <h4 class="font-20 fw-500 hover-base">
                                            精選大碟6T當4T賣？TOSHIBA 6TB 企業級硬碟五千有找！
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3  ">
                                <a asp-action="Blog_details6" asp-controller="Home"
                                   class="hover-base fw-500 d-flex align-items-center justify-content-lg-end">
                                    <span class="font-16">Next Post</span>
                                    <span class="ms-1 lh-0">
                                        <i class="flaticon-next-1"></i>
                                    </span>
                                </a>
                                <div class="d-flex flex-lg-row flex-row-reverse   mt-3 align-items-center justify-content-end">
                                    <a asp-action="Blog_details6" asp-controller="Home" class="d-inline-block text-lg-end text-start">
                                        <h4 class="font-20 fw-500 hover-base">
                                            三代目龍神幻彩加身！ROG RYUJIN lll 240/360 ARGB <br>龍神三代水冷再送降噪音效卡。
                                        </h4>
                                    </a>
                                    <a asp-action="Blog_details6" asp-controller="Home"
                                       class="roundthumb overflow-hidden ms-lg-3 me-lg-0 me-3">
                                        <img src="../images/blog/blog6-100.jpg" alt="pictures">
                                    </a>
                                </div>
                            </div>
                        </div>
                        @*<div class="borderBottom mt-4"></div>
                        <h2 class="mt-30 pt-lg-3  ">
                            Leave A Comment
                        </h2>
                        <p class="pt-1  ">
                            Your email address will not be published. Required fields are marked *
                        </p>
                        <div class="mt-3 pt-1">
                            <form action="#0" class="common-from">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="form-group  ">
                                            <input type="text" class="form-control"
                                                   placeholder="Enter Your Name*">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group  ">
                                            <input type="email" class="form-control"
                                                   placeholder="Enter Your Email*">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group  ">
                                            <textarea class="form-control ps-3 pt-3"
                                                      placeholder="Type Your Comment"> </textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check d-flex align-items-center  ">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Save my name, email, and website in this browser for the next
                                                time I comment.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn-base  ">
                                            Post Comment
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>*@
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 mt-30">
                    @*<div class="sidebar-box p-4 boxBorder  ">
                        <h3 class="titleAfter d-inline-block">Search</h3>
                        <form action="#0" class="mt-3 pt-2">
                            <div class="cNews menuNews radious5 overflow-hidden position-relative d-flex border-0">
                                <input type="email" class="form-control w-100"
                                       placeholder="Search entire store here ...">
                                <button class="btnarrow">
                                    <i class="flaticon-search-interface-symbol"></i>
                                </button>
                            </div>
                        </form>
                    </div>*@
                    <div class="sidebar-box p-4 boxBorder mt-30   ">
                        <a href="blog-details.html" class="d-block">
                            <img class="w-100" src="../images/blog/sideimg.jpg" alt="pictures">
                        </a>
                        <h3 class="titleAfter mt-3 pt-2 d-inline-block">Kaizhen.S</h3>
                        <p class="mt-3">
                            Compellingly redefine unique benefits whereas accurate methodologies.
                            Competently extend wireless imperatives after principle-centered
                            synergy.
                            Seamlessly impact enterprise.
                        </p>
                    </div>
                    <div class="sidebar-box boxBorder p-4 mt-30  ">
                        <h3 class="titleAfter d-inline-block"> Categories</h3>
                        <ul class="categories-list mt-2">
                            <li>
                                <a href="blog.html" class="">
                                    <span>
                                        <i class="flaticon-play-button-1"></i>
                                        Car cover
                                    </span> <span>
                                        (70)
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="blog.html" class="">
                                    <span>
                                        <i class="flaticon-play-button-1"></i>
                                        Engine
                                    </span>
                                    <span> (65)</span>
                                </a>
                            </li>
                            <li>
                                <a href="blog.html" class="">
                                    <span>
                                        <i class="flaticon-play-button-1"></i>
                                        Brakes
                                    </span>
                                    <span> (40)</span>
                                </a>
                            </li>
                            <li>
                                <a href="blog.html" class="">
                                    <span>
                                        <i class="flaticon-play-button-1"></i>Chassis
                                    </span>
                                    <span> (32)</span>
                                </a>
                            </li>
                            <li>
                                <a href="blog.html" class="pb-0 ">
                                    <span>
                                        <i class="flaticon-play-button-1"></i>
                                        Battery
                                    </span> <span> (100)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-box boxBorder p-4 mt-30 style-4  ">
                        <h3 class="font-24 titleAfter d-inline-block "> Recent Posts </h3>
                        <div class="sidebar-blog-post mt-4">
                            <a href="blog-details.html" class="img-box">
                                <img src="../images/blog/blogs-1.jpg" alt="Awesome Image">
                                <div class="overlay-content">
                                </div>
                            </a>
                            <div class="title-box">
                                <p class="date">June 22, 2022</p>
                                <h5><a href="blog-details.html" class="font-20">Replace Brakes Guide</a></h5>
                            </div>
                        </div>
                        <div class="sidebar-blog-post">
                            <a href="blog-details.html" class="img-box">
                                <img src="../images/blog/blogs-2.jpg" alt="Awesome Image">
                                <div class="overlay-content"> </div>
                            </a>
                            <div class="title-box">
                                <p class="date">June 12, 2022</p>
                                <h5><a href="blog-details.html" class="font-20">Replace Brakes Guide</a></h5>
                            </div>
                        </div>
                        <div class="sidebar-blog-post">
                            <a href="blog-details.html" class="img-box">
                                <img src="../images/blog/blogs-3.jpg" alt="Awesome Image">
                                <div class="overlay-content"> </div>
                            </a>
                            <div class="title-box">
                                <p class="date">June 14, 2022</p>
                                <h5><a href="blog-details.html" class="font-20">Replace Brakes Guide</a></h5>
                            </div>
                        </div>
                    </div>
                    @*<div class="sidebar-box p-4 mt-30 boxBorder  ">
                        <h3 class="titleAfter d-inline-block">Newsletter</h3>
                        <form action="#0" class="mt-3 pt-2">
                            <div class="snews">
                                <input type="email" class="form-control w-100" placeholder="Email Address">
                                <button class="btn-base w-100 mt-3" type="submit">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box boxBorder p-4 mt-30  ">
                        <h3 class="font-24 titleAfter d-inline-block">Tags </h3>
                        <ul class="popular-tag mt-4">
                            <li><a href="blog.html">caraccessories</a></li>
                            <li><a href="blog.html">car</a></li>
                            <li><a href="blog.html">cars</a></li>
                            <li><a href="blog.html">accessories</a></li>
                            <li><a href="blog.html">auto</a></li>
                            <li><a href="blog.html">carcare</a></li>
                            <li><a href="blog.html">autoaccessories</a></li>
                            <li><a href="blog.html">bmw</a></li>
                            <li><a href="blog.html">automotive</a></li>
                            <li><a href="blog.html">dashcamera</a></li>
                            <li><a href="blog.html">carlovers</a></li>
                            <li><a href="blog.html">carparts</a></li>
                            <li><a href="blog.html">carporn</a></li>
                            <li><a href="blog.html">autoparts</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-box boxBorder p-4 mt-30  ">
                        <h3 class="titleAfter d-inline-block">Follow Us </h3>
                        <ul class="sidebarFollow flex-wrap justify-content-between d-flex mt-4">
                            <li>
                                <a href="blog.html"
                                   class="blog-sidebar-follow-us-img d-block hoverScale overflow-hidden">
                                    <img src="../images/blog/blogs-1.jpg" alt="pictures">
                                </a>
                            </li>
                            <li>
                                <a href="blog.html"
                                   class="blog-sidebar-follow-us-img d-block hoverScale overflow-hidden">
                                    <img src="../images/blog/blogs-2.jpg" alt="pictures">
                                </a>
                            </li>
                            <li>
                                <a href="blog.html"
                                   class="blog-sidebar-follow-us-img d-block hoverScale overflow-hidden">
                                    <img src="../images/blog/blogs-3.jpg" alt="pictures">
                                </a>
                            </li>
                            <li>
                                <a href="blog.html"
                                   class="blog-sidebar-follow-us-img d-block hoverScale overflow-hidden">
                                    <img src="../images/blog/blogs-4.jpg" alt="pictures">
                                </a>
                            </li>
                            <li>
                                <a href="blog.html"
                                   class="blog-sidebar-follow-us-img d-block hoverScale overflow-hidden">
                                    <img src="../images/blog/blogs-5.jpg" alt="pictures">
                                </a>
                            </li>
                            <li>
                                <a href="blog.html"
                                   class="blog-sidebar-follow-us-img d-block hoverScale overflow-hidden">
                                    <img src="../images/blog/blogs-6.jpg" alt="pictures">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-box mt-30  ">
                        <div class="add-banner">
                            <img src="../images/blog/banner.jpg" alt="pictures">
                            <div class="add-banner-content">
                                <h3 class="color-white">AD BANNER</h3>
                                <p class="color-textwhite">Size: 370X450px</p>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details End -->

</div>
<!-- End Body Container -->