@page
@model ConfirmEmail_frontModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage_front" model="Model.StatusMessage" />
