@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘記密碼?";
    Layout = null;
}
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

<div class="card text-center" style="width: 600px;margin-left:35%;margin-top:10%;">
    <div class="card-header h5 text-white bg-primary">重設密碼</div>
    <div class="card-body px-5">
         <form method="post">
        <p class="card-text py-2">
            請輸入您現在帳號使用的Email，以收取驗證信。
        </p>
        <div class="form-outline">
            <input type="email" asp-for="Input.Email" id="typeEmail" class="form-control my-3" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
           <button type="submit" class="w-100 btn btn-lg btn-primary">重設密碼</button>
        <div class="d-flex justify-content-between mt-4" >
                <a asp-action="Login_front" asp-area="Identity" asp-controller="Account"  style="margin-left:47%;">返回</a>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
