@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = null;
}
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />


<div class="card text-center" style="width: 600px;margin-left:35%;margin-top:10%;">
    <div class="card-body px-5">
        <p class="card-text py-2">
            請檢查您的信件，點擊郵件連結後重設密碼
        </p>

        <div class="d-flex justify-content-between mt-4" >
                <a asp-action="Login_front" asp-area="Identity" asp-controller="Account"  style="margin-left:47%;">返回</a>
        </div>
    </div>
</div>
