@page "/RegisterConfirmation"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "註冊確認";
    Layout = null;
}
<style>
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh; /* 設定容器的高度，可以根據需要調整 */
    }
</style>
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<div class="modal-content">
<h1 style="text-align:center;">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
     <p style="text-align:center">
       請通過您的信箱來驗證您的帳戶
</p>

    }

}
</div>

